<!DOCTYPE html>
<html>
<head>
    <title>SocketIO Example</title>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io();

        function sendMessage() {
            var message = document.getElementById('messageInput').value;
            socket.emit('my_event', {'message': message});
        }

        socket.on('my_response', function(data) {
            var message = data.message;
            var responseDiv = document.getElementById('responseDiv');
            responseDiv.innerHTML += '<p>' + message + '</p>';
        });
    </script>
</head>
<body>
    <input type="text" id="messageInput">
    <button onclick="sendMessage()">Send</button>
    <div id="responseDiv"></div>
</body>
</html>
